#######################################################################################################################
# File Name  : Makefile.Platform.config                                                                               #
# Description: This makefile contains the target specific project settings (included by Makefile.config of ArmCommon) #
# Project    : Vector Basic Runtime System                                                                            #
# Module     : BrsHw for Platform Freescale S32Arm                                                                    #
#                                                                                                                     #
#---------------------------------------------------------------------------------------------------------------------#
# COPYRIGHT                                                                                                           #
#---------------------------------------------------------------------------------------------------------------------#
# Copyright (c) 2018 by Vector Informatik GmbH.                                                  All rights reserved. #
#                                                                                                                     #
#---------------------------------------------------------------------------------------------------------------------#
# AUTHOR IDENTITY                                                                                                     #
#---------------------------------------------------------------------------------------------------------------------#
# Name                          Initials      Company                                                                 #
# ----------------------------  ------------  ------------------------------------------------------------------------#
# Nguyen Le                     vislnn        Vector Informatik GmbH                                                  #
# Jens Haerer                   visjhr        Vector Informatik GmbH                                                  #
# Benjamin Walter               visbwa        Vector Informatik GmbH                                                  #
# Michael Tiran                 vismin        Vector Informatik GmbH                                                  #
# Sascha Mauser                 vismaa        Vector Informatik GmbH                                                  #
# Sherif Elsabbahy              vissey        Vector Informatik GmbH                                                  #
# Hakan Capci                   vishci        Vector Informatik GmbH                                                  #
#---------------------------------------------------------------------------------------------------------------------#
# REVISION HISTORY                                                                                                    #
#---------------------------------------------------------------------------------------------------------------------#
# Version   Date        Author  Description                                                                           #
# --------  ----------  ------  --------------------------------------------------------------------------------------#
# 01.00.00  2015-09-15  vislnn  Initial creation for S32K144                                                          #
# 01.00.01  2015-10-26  visjhr  Added support for running from flash (new default)                                    #
# 01.00.02  2016-05-31  visbwa  Fixed schema                                                                          #
# 01.00.03  2016-06-02  vismin  Added PLATFORM_DEF                                                                    #
# 01.01.00  2016-06-20  visbwa  Reworked file header structure to Brs_Template 2.00.01                                #
# 02.01.01  2016-10-07  vismaa  Added support for S32K142, S32K146, S32K148                                           #
# 02.01.02  2016-12-14  vismaa  Added support for HSR_706                                                             #
# 02.02.00  2017-01-25  visjhr  Added support for S32V234 and HSR_1387 (ECU with S32V234 and Interface board)         #
# 02.02.01  2017-03-16  vissey  Added support for WCT1013 and WCT1014                                                 #
# 02.02.02  2017-07-21  visbwa  Added CPU_NO_OF_CORES for new OsGen7 linker script of ArmCommon                       #
# 02.02.03  2018-01-30  vismaa  Added S32K116 and S32K118, set correct PLATFORM_DEF for IAR                           #
#           2018-05-14  visbwa  Review                                                                                #
# 02.02.04  2018-08-17  vishci  Removed implementation of S32V234 and HSR_1387                                        #
#######################################################################################################################

#------------------------------------------------------------------------------
#------------------------- Must be filled out ---------------------------------
# Derivative (see BrsHw_DerivativeList.h for supported ones)
# This is used for ROM/RAM mapping, compiler switches, etc...
#------------------------------------------------------------------------------
DERIVATIVE = S32K148

#------------------------------------------------------------------------------
#--------------- Must be filled out if BRS_ENABLE_SUPPORT_LEDS is set ---------
# Select EVA board, possible values are:
#   VEN001229  - Freescale S32K Motherboard + Daughterboard
#   VEN001231  - Freescale S32K Freedom Board
#   HSR_706    - Freescale S32K Freedom Board (µC Silicon Revison V2.0)
#------------------------------------------------------------------------------
EVA_BOARD = 


#------------------------------------------------------------------------------
#------------------------- FIX VALUES -----------------------------------------
# The following values are fix for this platform and should not be changed!
#------------------------------------------------------------------------------
ifeq ($(DERIVATIVE),$(filter $(DERIVATIVE), S32K116 S32K118))
   CPU_CORE = CORTEX_M0PLUS
   PROGRAM_CODE_LOCATION = FLASH
   VECTOR_TABLE_LOCATION = FLASH
else
  CPU_CORE = CORTEX_M4
  PROGRAM_CODE_LOCATION = FLASH
  VECTOR_TABLE_LOCATION = FLASH
endif

CPU_NO_OF_CORES = 1

# Platform define for IAR compiler
# (necessary for linker option --keep)
ifeq ($(DERIVATIVE),S32K116)
PLATFORM_DEF=S32K116
endif
ifeq ($(DERIVATIVE),S32K118)
PLATFORM_DEF=S32K118
endif
ifeq ($(DERIVATIVE),S32K142)
PLATFORM_DEF=S32K142
endif
ifeq ($(DERIVATIVE),S32K144)
PLATFORM_DEF=S32K144
endif
ifeq ($(DERIVATIVE),S32K146)
PLATFORM_DEF=S32K146
endif
ifeq ($(DERIVATIVE),S32K148)
PLATFORM_DEF=S32K148
endif
ifeq ($(DERIVATIVE),WCT1013)
PLATFORM_DEF=WCT1013
endif
ifeq ($(DERIVATIVE),WCT1014)
PLATFORM_DEF=WCT1014
endif
